{% extends 'base.html' %}


{% block head %}


{% endblock %}


{% block body %}
<div class="content" align="center" >
    <h1 style="text-align: center ;">Add Employee</h1>
        <form action="/create" method="POST">
            <table>
                <tr>
                    <td><label for="last_name" style="text-align: left;"> Surname : </label></td>
                    <td><input type="text" name="last_name" /></td>
                </tr>
                <tr>
                    <td><label for="first_name" style="text-align: left;"> Firstname : </label></td>
                    <td><input type="text" name="first_name" /></td>
                </tr>
                <tr>
                    <td><label for="gender" style="text-align: left;"> Gender : </label></td>
                    <td><select name="gender" id="gender">
                        <option value="0"> Male       </option>
                        <option value="1"> Female     </option>
                    </select>
                    </td><br>
                </tr><br>
                </tr>
                <tr>
                <td></td>
                <td><button type="submit"> Add </button></td>
                </tr>
            </table>
        </form>
</div>
{% endblock %}
