{% extends 'base.html' %}


{% block head %}


{% endblock %}


{% block body %}
<div class="content" >
    <h1 style="text-align: center ;">Employee Register v. 2.2</h1>
    <a href="/create"><button style="float: right;">Add Employee</button></a>
    <br>
    <br>
    <table>
        <tr>
            <th style="width:150px">Id</th>
            <th style="width:500px">Surname</th>
            <th style="width:700px">Firstname</th>
            <th style="width:40px">Gender</th>
            <th></th>
            <th></th>
        </tr>
        {% for employee in employees %}
            <tr>
                <td>{{ employee.id }}</td>
                <td style="text-align: left;">{{ employee.last_name }}</td>
                <td style="text-align: left;">{{ employee.first_name }}</td>
                {% if employee.gender == 0 %}
                <td>Male</td>
                {% else: %}
                <td>Female</td>
                {% endif %}    
                <td>
                    <a href="/update/{{employee.id}}">Edit</a>
                </td>
                <td>
                    <a href="/delete/{{employee.id}}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}